/***************************************************************
# Tags
***************************************************************/

* { margin: 0; padding: 0; box-sizing: border-box; }

h1,h2,h3,h4,h5,p,ol,ul { margin: 1rem 0; }

h1,h2,h3,h4,h5 {color: #1B4080;line-height: 1;}

h1 { font-size: 50px; }
h2 { font-size: 34px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 16px; }

ul { padding-left: 2em; }

/***************************************************************
# Common
***************************************************************/

html,body { background: #efefef; font-family: 'Titillium Web', sans-serif; margin: 0; padding: 0; color: #333; }

.container { max-width: 1480px; margin-left: auto; margin-right: auto; padding-left: 40px; padding-right: 40px; }
.container--wide { max-width: none; }
.inner-margin { margin-top: 40px; margin-bottom: 40px; }
.card {background: white;padding: 40px;box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);}

.header--no-bottom { margin-bottom: 0; }

.background--primary { background: #1B4080; color: white; }

#map-container { height: 500px; }

.grid { display: grid; grid-gap: 1rem; grid-template-columns: repeat(4, auto); }
.grid--3 { grid-template-columns: repeat(3, auto); }


/***************************************************************
# Header
***************************************************************/
.header { padding: 10px 0; }
.header__row { display: flex; justify-content: space-between; }
.header a { color: inherit; text-decoration: none; }


/***************************************************************
# Home
***************************************************************/

.region-container {}
.region-container__item {background: whitesmoke;text-align: center;color: inherit;text-decoration: none;display: block;padding: 1em;font-weight: bold;}



/***************************************************************
# Force
***************************************************************/

.basic-information__row { display: flex; margin: 0 -20px; }
.basic-information__col { padding: 0 20px; }
.basic-information__col--left {width: 68%;}
.basic-information__col--right {width: 32%;}
.basic-information__col-inner { height: 100%; }

.basic-information__contact { display: flex; margin: 0 -20px; }
.basic-information__contact-item { padding: 0 20px; }
.basic-information__contact-title { margin-bottom: 0; }

.engagement-methods { margin-top: 2em; }
.engagement-methods__title { margin-bottom: 0; }


.senior-officers__row {display: flex;margin: 0 -20px;align-items: flex-start;}
.senior-officers__container { padding: 0 20px; width: 320px; }
.senior-officers__details { background: whitesmoke; flex: 1; margin: 20px; padding: 20px 40px; }
.senior-officers__item {background: whitesmoke;padding: 11px 20px;margin: 20px 0;line-height: 1.2;cursor: pointer;}
.senior-officers__item--active {background: #1a4080;color: white;cursor: not-allowed;}
.senior-officers__item-name { font-size: 1.25em; }
.senior-officers__item-rank { font-size: 0.75em; text-transform: uppercase; font-weight: bold; opacity: .5; }

.neighbourhoods__item {background: whitesmoke;text-align: center;color: inherit;text-decoration: none;display: block;padding: 1em;font-weight: bold;}



/***************************************************************
# Responsive
***************************************************************/

@media (max-width: 1199.98px) {

    /* Common */
    .grid { grid-template-columns: repeat(3, auto); }
    .grid--3 { grid-template-columns: repeat(2, auto); }

}

@media (max-width: 991.98px) {

    /* Common */
    .grid { grid-template-columns: repeat(2, auto); }
    .grid--3 { grid-template-columns: repeat(1, auto); }

}

@media (max-width: 767.98px) {

    /* Common */
    .grid { grid-template-columns: repeat(1, auto); }

}

@media (max-width: 575.98px) {}