<!doctype html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{page.title}} - {{site.title}}</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

    <header class="header background--primary">
        <div class="container container--wide header__row">
            <div class="header__left">
                <a href="{{site.url }}">Police Data UK API browser</a>
            </div>
            <div class="header__right">
                <a href="https://roob.dev" target="_blank" rel="nofollow noreferrer noopener">roob.dev</a>
            </div>
        </div>
    </header>

    {{ content }}

</body>

</html>